<launch>
  <arg name="image_width" default="640" />
  <arg name="image_height" default="480" />
  <arg name="framerate" default="60" />
  <arg name="video_device" default="/dev/video0" />
  <arg name="tag_family" default="25h9" />

  <arg name="port" default="5555" />
  <arg name="broadcast_rate" default="10" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="$(arg video_device)" />
    <param name="image_width" value="$(arg image_width)" />
    <param name="image_height" value="$(arg image_height)" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="$(arg framerate)" />
  </node>

  <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
    <!-- Remap topic required by the node to custom topics -->
    <remap from="image_rect" to="/usb_cam/image_raw" />
    <remap from="camera_info" to="/usb_cam/camera_info" />

    <!-- Optional: Subscribe to the compressed stream-->
    <param name="image_transport" type="str" value="raw" />

    <!-- Select the tag family: 16h5, 25h7, 25h9, 36h9, or 36h11(default) -->
    <param name="tag_family" type="str" value="$(arg tag_family)" />

    <!-- Enable projected optical measurements for more accurate tag transformations -->
    <!-- This exists for backwards compatability and should be left true for new setups -->
    <param name="projected_optics" type="bool" value="true" />

    <!-- Describe the tags -->
    <rosparam param="tag_descriptions">
      [
        {id: 0, size: 0.038, frame_id: ar_marker_0},
        {id: 1, size: 0.038, frame_id: ar_marker_1},
        {id: 2, size: 0.038, frame_id: ar_marker_2}
      ]
    </rosparam>
  </node>

  <node pkg="topic_tools" type="throttle" name="tag_throttler" args="messages /tag_detections $(arg broadcast_rate)" />

  <node pkg="pose_broadcaster" type="broadcaster.py" name="broadcaster" output="screen">
    <remap from="tag_detections" to="tag_detections_throttle" />
    <param name="port" type="int" value="$(arg port)" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="fixed_marker_transform" args="0 0 0 0 0 0 1 /ar_marker_0 /map 10" />

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pose_broadcaster)/launch/map.rviz" />
</launch>
